@model PharmaReachMVC.Models.Medicine

<div class="modal-body">
    <h4>@Model.Name</h4>
    <p><strong>Description:</strong> @Model.Description</p>
    <p><strong>Price:</strong> @Model.Price</p>
    <p><strong>Image:</strong> <img src="@Model.ImageUrl" alt="@Model.Name" class="img-fluid" /></p>
    <p><strong>Created At:</strong> @Model.CreatedAt</p>
    <p><strong>Updated At:</strong> @Model.UpdatedAt</p>
</div>
